<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">A</button>
        <div class="logo-text" *ngIf="collapsed">Angular</div>
        <button class="btn-close" *ngIf="collapsed" @rotate (click)="closeSidenav()">
            <i class="fal fa-times colase-icon"></i>
        </button>
    </div>

    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData;">
        <a class="sidenav-nav-link" *ngIf="data.items && data.items.length > 0" (click)="handleClick(data)">
            <i class="sidenav-link-icon" [class]="data.icon"></i>
            <span class="sidenav-link-text" *ngIf="collapsed" @fadeInOut>{{data.label}}</span>
            <i *ngIf="data.items && collapsed" class="menu-collapsed-icon"
            [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"></i>
        </a>

        <a class="sidenav-nav-link" *ngIf="!data.items || (!data.items || data.items.length == 0)" [routerLink]="[data.routeLink]"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">
            <i class="sidenav-link-icon" [class]="data.icon"></i>
            <span class="sidenav-link-text" *ngIf="collapsed" @fadeInOut>
                {{data.label}}
            </span>
        </a>

        <div *ngIf="collapsed && data.items && data.items.length > 0">
            <app-sublevel-menu
            [data]="data"
            [collapsed]="collapsed"
            [multiple]="multiple"
            [expanded]="data.expanded">
            </app-sublevel-menu>
        </div>
        </li>
    </ul>
</div>